:root{
    --main-title-color:#2E2F42;
    --main-text-color:#434455;
    --portfolio-btn:#4D5AE5;
}
body {
font-family: 'roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p
{
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
.button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
.header{
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
}
.header-list{
    display: none;
}
.address{
    display: none;
}
.menu-open-btn{
   margin-right: auto;
    display: flex;
    justify-content: space-between; 
    background: rgba(231, 233, 252, 1);
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
              }
.menu-btn-icon{
    fill:rgba(46, 47, 66, 1);
}

.header-logo {
    display: flex;
    margin-right: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    transition:  color 250ms linear; 

    padding-top: 24px;
    padding-bottom: 24px;
}
.header-logo:hover,
.header-logo:focus {
    color: #2E2F42;
    transition: color 250ms linear; 
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
}
.logo-web{
    color: #4D5AE5;
    transition:  color 250ms linear; 
    
}

.list {
    list-style: none;
}
.link{
    text-decoration: none;
}


.current{
    color: rgba(64, 75, 191, 1);
    position: relative;
        
}
.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: #404BBF;
    border-radius: 2px;
}
img{
    display: block;
    max-width: 100%;
    height:auto;
    width: 100%;
}
.no-scroll{
    overflow: hidden;
}
.container-header{
    display: flex;
    align-items: center;
}
.header-navigation{
    width: 100%;
}

.mob-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 40px;

}
.mob-menu > .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

}
.menu-close-btn {
    display: block;
    margin-left: auto;
}
.menu-close-btn-icon {
    
}
.mob-menu-list {
    margin-bottom: 40px;
}
.mob-menu-item {
    top: 80px;
    
}

.mob-menu-item:not(:last-child){
margin-bottom: 40px;
} 
.mob-menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
         
}
.mob-menu-link:hover,
.mob-menu-link:focus
        {
            color: #404BBF;
            transition: color 250ms;
            animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
        }

.mob-menu-address {
    display: flex;
    margin-bottom: 48px;
   
}
.mob-menu-address-list {
    display: flex;
    flex-wrap: wrap;
   row-gap: 40px;
    
    
}

.mob-menu-address-tel {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 1.11;
color: #4D5AE5;

}
.mob-menu-address-mail {
    height: 64px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
text-align: center;

}
.menu-soc-list {
    display: flex;
    justify-content: center;
    
    
}
.menu-soc-item {
    width: 40px;
    height: 40px;
   
}
.menu-soc-item:not(:last-child){
     margin-right: 40px;
}
.menu-soc-link {
    width: 40px;
    height: 40px;
    background-color:#4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms linear, color 250ms linear,border 250ms linear; 
}
.menu-soc-icon {

    fill: #F4F4FD;
  transition: fill 250ms linear; 

}

.hero {
    max-width: 100%;
    align-items: center;
    background: #2E2F42;
    background-image:linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
         url(../images/dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding: 112px 54px;
    margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) 
{
  .hero {
    background-image:linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                    url(../images/hero-mobile-2x.jpg);
       }
 }
.container-hero{
   max-width: 100%; 
}
.hero-title {
margin: 0 auto;
margin-bottom: 72px;
max-width: 320px;
left: 15px;
top: 182px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}

.hero-btn {
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    transition: background 250ms linear, color 250ms linear,border 250ms linear; 
    }
.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;;
    color:#FFFFFF;
    transition:background 250ms linear, color 250ms linear, border 250ms linear;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
}
.container{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
   

}
.advantages {
    padding-top: 96px;
    padding-bottom: 96px;
}

.advantages-title {
    margin-bottom: 8px;
}
.advantages-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
}
.advantages-blok-icon{
    width: 100%;
    opacity: 0;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom:8px;
}
.advantages-icon{
    fill: #2E2F42;
}
    
.advantages-item {
height: 100%;
height: auto;
width: 100%;

}
.advantages-caption {
 width: 100%;   
font-weight: 500;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--main-title-color);
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 8px;
}


.advantages-text {
    width: 100%;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-text-color);
min-height: 72px;
padding-right: 16px;
}
.work {
    display: none;
    width: 100%;
 padding-top: 0;  
padding-bottom: 120px; 
}
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-title-color);
margin-bottom: 72px;
}
.work-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    
   

}
.work-item {
    width: 100%;
}
.work-link {
}

.command {
background: #F4F4FD;
display: flex;
flex-wrap: wrap;
}
.container.container-mini{
    
    max-width: 296px;
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
   flex-wrap: wrap;
    } 
.command-title {
    padding-top: 96px;
    padding-left: 31px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
color: var(--main-title-color);
}
.command-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
     align-items: center;
   
    /** width: calc((100% - 72px)/4);**/
}
.command-item {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    margin-bottom: 72px;
    
}
.command-caption {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
justify-content: center;

}
.command-text {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 8px;
color: var(--main-text-color);
}
.command-team {
background-color: #FFFFFF;
padding-top: 32px;
padding-bottom: 32px;

}
.command-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.command-soc-item {
    width: 40px;
    height: 40px;
}
.command-soc-link {
    width: 100%;
    height: 100%;
    background-color:#4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms linear, color 250ms linear,border 250ms linear; 
}
.command-soc-link:is(:hover, :focus) {
background-color: #404BBF;
transition: background-color 250ms linear, color 250ms linear, border 250ms linear; 
animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
 }

.command-soc-icon{
  fill: #F4F4FD;
  transition: fill 250ms linear;   
}
.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}
.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2E2F42
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;}

.customers-item {
    width: calc((100% - 16px)/ 2);
    height: 88px;
}
.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: color 250ms linear, border-color 250ms linear; 
}
.logo-icon{
    fill: #8E8F99;
    transition: fill 250ms linear; 
}
.customers-link:is(:hover, :focus) {
    border-color: #404BBF;
    transition: border-color 250ms linear; 
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
     }
.customers-link:is(:hover, :focus) .logo-icon {
    fill: #404BBF;
    transition: fill 250ms linear; 
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
     }

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
   
background: #2E2F42;
}
.container-footer-general{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    
}
.container-footer{
    
    

}
.container-footer-soc {
   width: 100%;
   padding-left: auto;
}
.footer-soc-title {
    align-items: center;
display: flex;
justify-content: center;

    width: 100%;
    align-items: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;

color: #FFFFFF;

}
.footer-soc-list {
    display: flex;
    gap: 16px;
    width:calc((100%-48)/3) ;
    
    
    
}
.footer-soc-item {
   
}
.footer-soc-link {

    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 250ms linear; 
    margin-bottom: 72px;
}
.footer-soc-link:is(:hover, :focus){
    background-color: #31D0AA;
    transition: background-color 250ms linear; 
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
}
.section4-soc-icon {
   fill: #F4F4FD;
   width: 24px, 24px; 
  
}

.footer-logo {
    width: 120px;
      
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
display: flex;
justify-content: center;
margin-left: auto;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #F4F4FD;
margin-bottom: 16px;
margin-right: auto;
}
.footer-logo:hover,
.footer-logo:focus {
       
}
.footer-logo-web{
    color:#4D5AE5;
}
.footer-text {
    align-items: center;
display: flex;
justify-content: center;
margin-left: auto;
    align-items: center;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
width: 268px;
margin-right: auto;
margin-bottom: 72px;

}
.container-footer{
}
.footer-form{
    

}
.subscribe-form{
display: flex;
flex-wrap: wrap;
margin-left: auto;

}
.subscribe-input{
   width: 100%;
   height: 40px;
   background: #2E2F42; 
   border-radius: 4px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   margin-left: auto;
    padding: 8px 16px;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 16px;
} 
.subscribe-input:focus{
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}
.subscribe-input::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    
}
.subscribe-btn{
    align-items: center;

justify-content: center;
margin-left: auto;
margin-right: auto;

    min-width: 165px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #4D5AE5;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border-color: transparent;
    transition: background-color 250ms linear, color 250ms linear, border 250ms linear, box-shadow 250ms linear;
}
.subscribe-btn:focus,
.subscribe-btn:hover{
    background: #404BBF;
    color:#FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms linear, color 250ms linear, border 250ms linear, box-shadow 250ms linear; 
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
}
.submit-btn-icon{
    margin-left: 16px;
fill:rgba(255, 255, 255, 1);
}
/*--------------------------------------------------------
------------------------Portfolio-------------------------
---------------------------------------------------------*/
.main {
}
.main-section {
padding-top: 118px;
}

.buttons {
   
     
}
.container-btn{
    
}
.buttons-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;   
    margin-bottom: 48px;
    justify-content: center;
    
} 

.list {
}
.buttons-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

}
.buttons-btn {
padding: 12px 24px 12px 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
background: #F4F4FD;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
background-color:#F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
color: #4D5AE5;
cursor: pointer;
color: var(--portfolio-btn);
transition: background-color 250ms linear, color 250ms linear, border 250ms linear, box-shadow 250ms linear; 
}
.buttons-btn:hover,
.buttons-btn:focus{
    background: #4D5AE5;
    color:#FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border:1px solid #4D5AE5;
    transition: background-color 250ms linear, color 250ms linear, border 250ms linear, box-shadow 250ms linear; 
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
}

.main-list {
    padding-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.main-item {
width: 100% ;
}

.main-item:is(:hover, :focus), .main-item-link{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);   
    transition: box-shadow 250ms linear; 
    position: relative;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
}
.main-item:hover .portfolio-top-text{
    transform: translateY(0%);
}

.main-title {
font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
color: var(--main-title-color);
}
.portfolio-top-wrap{
   position: relative; 
   overflow: hidden;
}
.portfolio-top-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
    overflow: auto;
}
.main-text {
    font-size: 16px;
line-height: 1.5;

letter-spacing: 0.02em;

color: var(--main-text-color);
}
.main-container-text{
    border: 1px solid #E7E9FC;
    border-top:none;
    padding: 32px 16px;

}

/*---------------------------------------
---------------------------------------------------
---------------------------------------------------
----------Modal--------------------------------
---------------------------------------------------------
------------------------------------------------------*/
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms linear, visibility 250ms linear;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    width: 320px;
    min-height: 576px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    transition: transform 250ms linear;
}
.backdrop .is-hidden .modal{
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}
.modal-close {
    width: 24px;
    height: 24px;
    background: #E7E9FC;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 50%;
     display: block;
     margin-left: auto;
     margin-bottom: 24px;
     }
.modal-close-icon {
   width: 8px;
   height: 8px;
   fill:  #000000;
   margin-top: auto
  
    }
    .modal-close:is(:hover, :focus){
        background: #404BBF;
        border: 1px solid #404BBF;
        transition: background 250ms linear, color 250ms linear, border 250ms linear, box-shadow 250ms linear; 
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
    }
.modal-close:hover .modal-close-icon{
    fill: #FFFFFF;
}
.modal-title{
    font-weight: 500;
font-size: 13px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 14px;
}
.modal-form{

}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 1);
    padding-left: 38px;
    outline: transparent;
}
.modal-input:focus{
    border-color:#4D5AE5;
}
.modal-input:focus+ .modal-intput-icon{
    fill:#4D5AE5;
}
.modal-input::placeholder, .modal-comment{
    font-size: 12px;
    line-height: 1.3;
    color: rgba(117, 117, 117, 0.5);

}
.modal-input:not(:focus):not(:placeholder-shown):valid{
    background-color: #a7d6ad;
}
.modal-input:not(:focus):not(:placeholder-shown):invalid{
    background-color: #d6aeae;
}
.modal-input-text{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #8E8F99;
}
.modal-label-text{
    display: block;
    margin-bottom: 4px;
}
.modal-field{
position: relative;
}
.modal-intput-icon{
    position: absolute;
    left: 16px;
    bottom:19px; 
}
.modal-comment{
    width: 100%;
    height: 120px;
    left: 0px;
    top: 216px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    margin-bottom: 16px;
    
}
.modal-comment:focus{
    border-color:  #4D5AE5;
}
.input-wrap{

}
.modal-check{

}
.check-text{
    font-size: 10px;
    line-height: 1.3;
    color: #757575;
    display: flex;
}
.check-text::before{
    content:'';
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px; 
    margin-bottom: 24px;
    transition: background-color 250ms;

}
.modal-check:checked+ .check-text::before{
    background: #404BBF;
    border: 1.25px solid #404BBF;
    background-image: url(../images/check.svg);
    background-size: 10px 8px;
    background-position:center;
    background-repeat: no-repeat;
}
.modal-link{
   margin-left: 5px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 1.3;
   color: rgba(77, 90, 229, 1);


letter-spacing: 0.04em;
}
.modal-btn {
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 64px;
    border: none;
    border-radius: 4px;
    transition: background 250ms linear, color 250ms linear,border 250ms linear; 
    }
.modal-btn:hover,
.modal-btn:focus {
    background: #404BBF;;
    color:#FFFFFF;
    transition:background 250ms linear, color 250ms linear, border 250ms linear;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
}
/*******************************************************************************
********************************************************************************
************************MOBILE**************************************************
********************************************************************************
*******************************************************************************/
@media screen and (min-width: 480px)  {
.container{
    max-width: 470px;
          }        
          .hero{
          background-image:linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
             url(../images/dark-bg-tablet.jpg);
          }
          @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
        background-image:linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                    url(../images/hero-tablet-2x.jpg);
       }
    }
    .mob-menu-address-tel {
                font-size: 36px;
        }
        .menu-soc-item:not(:last-child){
            margin-right: 56px;
       }

    .hero-title {
        font-size: 36px;
        width: 320px;
        height: 80px;
        left: 54px;
        top: 182px;
    }  
    .advantages-item {
        max-width: 396;
        }
    .advantages-text{
         max-width: 396px;    
        } 
       
    .customers-item {
        width: calc((100% - 16px) / 2);  
        }
}
/*******************************************************************************
********************************************************************************
************************TABLET**************************************************
********************************************************************************
*******************************************************************************/
@media screen and (min-width: 768px)  {
    .mob-menu{
        display: none;
    }
    .menu-open-btn {
        display: none;
    }
    .header-navigation {
            display: flex;
            align-items: center;
            margin-right: auto;
        }
    .header-list{
        display: flex;
        margin-left: 128px;
    }
    .address{
        display: flex;
    }
    .header-item {
    color: #2E2F42;
    }
    .header-item:not(:last-child){
        margin-right: 40px;}
    .header-link { 
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
         padding-top: 24px;
        padding-bottom: 22px;
        transition: color 250ms linear; 
        }
        .header-link:hover,
        .header-link:focus
        {
            color: #404BBF;
            transition: color 250ms;
            animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 3.0);
        }
        .address {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: #434455;
            }
            .address-list {
            
                display: flex;
                flex-wrap: wrap;
                margin-left: 118px;
            }
            .address-mail {
                margin-right: 40px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            
            letter-spacing: 0.02em;
            color: #434455;
            
            padding-top: 24px;
            padding-bottom: 24px;
            transition:  color 250ms linear; 
            
            }
            .address-mail:hover,
            .address-mail:focus{
                color: #404BBF;
                transition: color 250ms linear; 
            }
            .address-tel {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            color:#434455;
            padding-top: 24px;
            padding-bottom: 24px;
            transition:color 250ms linear; 
            }
            .address-tel:hover,
            .address-tel:focus {
                color: #404BBF;
                transition: color 250ms linear; 
            }

    .container{
        max-width: 736px;
             }
             .hero{
                background-image:linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                     url(../images/hero-bg.jpg);
             }
             @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .hero {
                background-image:linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-desktop-2x.jpg);
                  }
            }
    .hero-title {
        width: 700px;
                font-size: 56px;
                line-height: 1.07;
                max-width: 496px;
                height: 120px;
                left: 136px;
                top: 181px;
                margin-bottom: 40px;
            }  
     .container.container-mini{
        max-width: 552px;    
    }        
    .advantages-item {
             width:calc((100% - 24px) / 2);
        }
    .advantages-caption{
        text-align: left;
    }

    .command{
        display: flex;
       
    }
    .command-title{
        width: 100%;
        align-content: center;
        padding-top: 96px;
        

    }
    .command-list {
        width: 100%;
        display: flex;
        gap: 24px;
            
    }
    .command-item{
        width: calc((100%-24px) / 2);
    }
        .customers-item {
            width: calc((100% - 48px)/3);
        }
    
        
    .main-list {
                row-gap: 72px;
            }
    .main-item{
       width: calc((100% - 24px)/ 2); 
            }
    }

    /*******************************************************************************
********************************************************************************
************************DESKTOP**************************************************
********************************************************************************
*******************************************************************************/
@media screen and (min-width: 1200px)  {
    .container{
         max-width: 1200px;
             }
    .hero{               
                background-image:linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                     url(../images/hero-bg.jpg);
             }
             @media (min-device-pixel-ratio: 2),
             (min-resolution: 192dpi),
             (min-resolution: 2dppx) {
             .hero {
                background-image:linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-desktop-2x.jpg);
             }
            }
            .header-navigation{
                width: 760px;
            }
            .header-logo {
                margin-right: 0;
            }
            .header-list{
                margin-left: 76px;
                font-size: 18px;
            }
            .address{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #434455;
                
            }
            .address-list {
                display: flex;
                flex-wrap: nowrap;
                column-gap: 40px;
                row-gap: 40px;
                margin-left: auto;
                
            }
            .address-mail {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #434455;
            }
            .address-tel{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #434455;
                
            }
    .hero-title {
                 max-width: 496px;
                 margin-bottom: 48px;
            }  

    .container.container-mini{
            max-width: 1200px;    
            } 
    .advantages-list {
               
            }
    .advantages-item {
                width: calc((100% - 72px) / 4);
            }
    .advantages-caption {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
            }
    .advantages-blok-icon{
                opacity: 1; 
                padding: 24px 100px;  } 
    .work {
        display: flex;
        }
        .work-item {
            width: calc((100% - 48px) / 3);

        }
        .command-title{
            padding-top: 120px;
            width: 100%;
        align-content: center;

        }
        .command-item{
            width: calc((100%-72px) / 4);
        }
        .customers {
            padding-top: 120px;
            padding-bottom: 120px;
        }
        .customers-item {
            width: calc((100% - 120px)/6);
        }
    .main-item{
        width: calc((100% - 48px)/ 3); 
             }
    .main-list {
                row-gap: 48px;
            }
   
    }